.summary {
   padding: 2rem;
   background-color: rgb(48, 47, 47);
   box-shadow: 0.2rem 0.2rem 0.4rem rgb(20, 20, 20);
   border-radius: 1rem 1rem 0 0;
}
.summary h3 {
   font-size: 1.4rem;
}
.details {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.2rem;
   color: white;
}
.movie-num {
   display: flex;
   column-gap: 0.5rem;
}
