.box {
   min-height: 80vh;
   background-color: rgb(36, 36, 36);
   border-radius: 1rem;
   margin-top: 2rem;
   position: relative;
}
.box-btn {
   width: 2.3rem;
   height: 2.3rem;
   font-size: 2.2rem;
   color: white;
   line-height: 0;
   background-color: rgb(20, 20, 20);
   border: none;
   border-radius: 50%;
   position: absolute;
   top: 0.8rem;
   right: 0.8rem;
   z-index: 20;
}

@media screen and (max-width: 632px) {
   .box {
      min-height: 35vh;
   }
}
